<% layout("/layouts/boilerplate") %>

<div class="container mt-4" style="align-self: center;">
    <div class="row">
        <div class="col-4 offset-4 signup-card">
            <br>
            <h4 class="mb-4">Signup form</h4>
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="Enter an username" name="username" class="form-control" required>
                    <div class="valid-feedback">username looks good</div>
                    <div class="invalid-feedback">Please add an username</div>
        
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">email</label>
                    <input type="email" placeholder="adam@yahoo.com" name="email" class="form-control" required>
                    <div class="invalid-feedback">Please add an email</div>
        
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">password</label>
                    <input type="password" placeholder="password" name="password" class="form-control" required>
                    <div class="invalid-feedback">Please add a password</div>
        
                </div>
                <button class="btn btn-success">signup</button><br><br>
                
            </form>
        </div>
    </div>
</div>
